/** BEGIN ISSUE GALLERY **/
/* callout */
.issue-gallery-callout {
    background-position: center 20%;
    background-size: cover;
    border-radius: 2px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.35) inset;
    cursor: pointer;
    padding: 10em 0;
    width: 100%;
}
.issue-gallery-callout:hover a.button {
    background-color: #ce4f25;
}
/* gallery-active */
html.gallery-active,
html.gallery-active body {
    background-color: #242424;
}
html.gallery-active body.magazine.issue-landing section.hero,
html.gallery-active body.magazine.issue-landing div#main {
    display: none;
}
html.gallery-active body.magazine.issue-landing .main-content {
    margin-bottom: 32px;
    margin-top: 32px;
    padding: 0 82px;
}
#issue-gallery-container {
    background-color: #242424;
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    z-index: 10000;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
/* carousel */
html.gallery-active body.magazine.issue-landing div.caroufredsel_wrapper {
    margin: 0 !important;
    transition: all 0.1s ease;
}

.caroufredsel_wrapper {
	
}

#issue-gallery-carousel {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    width: 100% !important;
    overflow: hidden;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
}

/* Navigation */
.issue-gallery-nav {
    clear: both;
    cursor: pointer;
    float: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 60px;
    z-index: 100;
    transition: all 0.1s ease;
}
.issue-gallery-nav img {
    position: absolute;
    top: calc(50% - 25px);
}
#issue-gallery-next {
    border-left: 1px solid transparent;
    float: right;
    right: 0;
}
#issue-gallery-prev {
    border-right: 1px solid transparent;
    float: left;
    left: 0;
}
/*
@media only screen and (min-width: 640px) {
    .issue-gallery-nav {}
    #issue-gallery-next {}
    #issue-gallery-prev {}
}
*/
/* Item styles */
.issue-gallery-item {
    display: block;
    float: left;
    font-size: 1.2em;
    padding: 0;
    text-align: center;
    width: 100% !important;
}
.issue-gallery-item .issue-gallery-info {
    color: #fff;
    float: none;
    line-height: 1.2;
    margin: 0 2.5% 20px 0;
    text-align: left;
    width: 100%;
}

.issue-gallery-item .issue-gallery-header {
    margin: 0 0 20px;
    text-align: left;
}
.issue-gallery-item .art-from {
    color: #ce4f25;
    display: block;
    font-size: 0.93em;
    margin-bottom: 0.5em;
    width: 100%;
}
.issue-gallery-item .issue-title {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.3em;
}
.issue-gallery-item .issue-gallery-close {
    display: block;
    font-size: 0.93em;
    text-decoration: underline;
}
.issue-gallery-item .artwork-artist {
    font-weight: bold;
    margin-bottom: 0.5em;
}
.issue-gallery-item .artwork {
    margin-bottom: 15px;
}
.issue-gallery-item .artwork-title {
    font-style: italic;
}
.issue-gallery-item .artwork-bio {
    color: #999;
}
.issue-gallery-item .artwork-article,
.issue-gallery-item .artwork-article a {
    color: #ce4f25;
}
.issue-gallery-item .artwork-article a {
    text-decoration: underline;
}
.issue-gallery-item .issue-gallery-image {
    float: none;
    text-align: left;
    width: 100%;
	padding-bottom: 64px;
}

.issue-gallery-item .issue-gallery-image > img {
    display: block;
}


@media only screen and (min-width: 1024px){
    .issue-gallery-item .issue-gallery-info {
        float: left;
        margin: 40px 0;
        width: 20%;
    }
    .issue-gallery-item .issue-gallery-image {
        float: right;
        width: 80%;
    }
    .issue-gallery-item .issue-gallery-image > img {
	    max-height: 500px;
	}
    html.gallery-active body.magazine.issue-landing div.main-content {
        background-color: transparent;
        margin-left: 0;
    }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1400px) {
    .issue-gallery-item .issue-gallery-info {
        width: 30%;
        padding-left: 0;
    }
    .issue-gallery-item .issue-gallery-image {
        width: 65%;
    }

    html.gallery-active body.magazine.issue-landing #issue-gallery-container {
        margin-top: 0;
    }

    .issue-gallery-item .issue-gallery-image > img {
	    max-height: none;
	}
    html.gallery-active body.magazine.issue-landing .main-content {
        width: 100%;
    }
    #issue-gallery-container {
	    padding-top: 0;
    }
    #issue-gallery-carousel {
	    height: auto !important;
    }
    html.gallery-active body.issue-landing div.caroufredsel_wrapper {
	    padding: 0;
    }
    html.gallery-active body.magazine.issue-landing div.caroufredsel_wrapper {
	    position: relative !important;
	    top: 16px !important;
	    left: 0px !important;
	    right: 116px !important;
	    width: 1300px !important;
    }
	header+#issue-gallery-container+div.module-hero+div#main, header+#issue-gallery-container+section.hero+div#main {
	    margin-top: 616px;
	}
}

    
    
/** END ISSUE GALLERY **/