<footer class="footer">
<div id="colorPicker"></div>

</footer>

<script src="/scripts/bundle.js"></script>

<script>

var fixedHeader = null

// window.onscroll = function() {
	// if (pageYOffset > 150) {
	// 	document.querySelector('header').style.backgroundColor = localStorage.getItem('color');
	// 	document.querySelector('header').style.color = localStorage.getItem('backgroundColor');
	// 	document.getElementById('el').style.backgroundColor = localStorage.getItem('backgroundColor');
	// } else if (pageYOffset <= 150) {
	// 	document.querySelector('header').style.backgroundColor = localStorage.getItem('backgroundColor');
	// 	document.querySelector('header').style.color = localStorage.getItem('color');
	// 	document.getElementById('el').style.backgroundColor = localStorage.getItem('color');
	// }

// };
</script>