<footer class="footer">
	<div id="colorPicker"></div>

	<nav>
		<ul role="navigation">
			<li><a href="/about/">About</a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/portfolio/">Portfolio</a></li>
		</ul>
	</nav>
</footer>

<script>

// var fixedHeader = null

// window.onscroll = function() {
	// if (pageYOffset > 150) {
	// 	document.querySelector('header').style.backgroundColor = localStorage.getItem('color');
	// 	document.querySelector('header').style.color = localStorage.getItem('backgroundColor');
	// 	document.getElementById('el').style.backgroundColor = localStorage.getItem('backgroundColor');
	// } else if (pageYOffset <= 150) {
	// 	document.querySelector('header').style.backgroundColor = localStorage.getItem('backgroundColor');
	// 	document.querySelector('header').style.color = localStorage.getItem('color');
	// 	document.getElementById('el').style.backgroundColor = localStorage.getItem('color');
	// }

// };

var cb = function() {
	var l = document.createElement('link');
	l.rel = 'stylesheet';
	l.href = "{{ "/css/main.css" | prepend: site.baseurl }}";
	var h = document.getElementsByTagName('head')[0];
	h.parentNode.insertBefore(l, h);
	window.setTimeout(function() {
		document.querySelector("body").style.display = "block";
	},100);
};

var raf = requestAnimationFrame || mozRequestAnimationFrame ||
  webkitRequestAnimationFrame || msRequestAnimationFrame;

if (raf) {
	
	raf(cb);
} else {
	window.addEventListener('load', cb);
}

</script>
<script src="/scripts/bundle.js"></script>