<header>

  <div>

    <a class="site-title info" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav >

         {% for page in site.pages %}
          {% if page.title %}
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

    </nav>

    <!-- <button type="button" class="js-menu-trigger sliding-panel-button">
      Click for Sliding Panel
    </button> -->

  </div>

  <!-- <nav class="js-menu sliding-panel-content">
    <ul>
      <li><a href="javascript:void(0)">Item 1</a></li>
      <li><a href="javascript:void(0)">Item 2</a></li>
      <li><a href="javascript:void(0)">Item 3</a></li>
    </ul>
  </nav>

  <div class="js-menu-screen sliding-panel-fade-screen"></div> -->
</header>
