<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <style type="text/css">
    body {
     background-color: white;
     color: white;
    }
  </style>
  <link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script type="text/javascript">
    {/*
      Why this works:
      https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model/Using_dynamic_styling_information
    */}

    if (localStorage.getItem('backgroundColor') && localStorage.getItem('color')) {
      var body = document.body;

      var bgColor = localStorage.getItem('backgroundColor');
      var color = localStorage.getItem('color');

      var stylesheet = document.styleSheets[0];
      stylesheet.cssRules[0].style.backgroundColor = bgColor;
      stylesheet.cssRules[0].style.color = color;
    }

  </script>
</head>
