<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Kristofer Dubbels">
  <meta name="keywords" content="kristofer, dubbels, javascript, developer, denver">
  <meta name="rating" content="General">
  <meta name="theme-color" content="#db7093">


  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <style type="text/css">
    body {
/*     background-color: white;
     color: white;*/
    }
  </style>

  <script type="text/javascript">
    {/*
      Why this works:
      https://developer.mozilla.org/en-US/docs/Web/API/CSS_Object_Model/Using_dynamic_styling_information
    */}

    if (localStorage.length !== 0) {
      var body = document.body;

      var bgColor = localStorage.getItem('backgroundColor');
      var color = localStorage.getItem('color');

      var stylesheet = document.styleSheets[0];
      stylesheet.cssRules[0].style.backgroundColor = bgColor;
      stylesheet.cssRules[0].style.color = color;
    } else {
      var stylesheet = document.styleSheets[0];
      stylesheet.cssRules[0].style.backgroundColor = "#fcfcfc";
      stylesheet.cssRules[0].style.color = "#333";
    }

  </script>

  <link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
