$gold: #FFB900;
$coral: #FC636B;
$brightCoral: #FF6D92;

html {
	
}

body {
  -webkit-transition: all 0.5s ease-in-out; /* Safari */
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

p, ul, li {
  font-family: Helevetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

#page {
  padding-top: 120px;
  min-height: calc(100vh - 100px);
}

.footer {
	height: 100px;
}

/*
@media screen and (max-width: 960px) {  
  body {
    padding: 10px;
  }
  body:before, body:after {
      content: "";
      position: fixed;
      background: $brightCoral;
      left: 0;
      right: 0;
      height: 5px;
  }
  body:before {
      top: 0;
  }
  body:after {
      bottom: 0;
  }
  body {
      border-left: 5px solid $brightCoral;
      border-right: 5px solid $brightCoral;  
  }
}
*/

header { 
  font-family: "Megrim", Helvetica, Arial, sans-serif;
  font-size: 44px;
  text-decoration: none;
  height: 120px;
  z-index: 999;
  position: fixed;
  display: block;
  background-color: inherit;
  width: 100%
}

header a {
  text-decoration: none;
}

h1.post-title {
  font-size: 84px;
}

/* Large */
.navigation {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

circle.theme-select {
  cursor: pointer;
}