$gold: #FFB900;
$coral: #FC636B;
$brightCoral: #FF6D92;

html {
  
}

body {
  z-index: 1;
   -webkit-transition: all 0.5s ease-in-out; /* Safari */
  transition: all 0.5s ease-in-out;
}

table {
  border-collapse: collapse;
  margin: 0px auto;
  width: 85%;
}
th { 
  background-color: #f7f7f7;
}

td {
  background-color: inherit;
}

th, td {
  border: none; 
  color: inherit;
  padding-left: 5px;
  text-align: left;
}

p, ul, li, th, td {
  font-family: 'Cousine', 'Helvetica', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

#page {
  padding-top: 120px;
  min-height: calc(100vh - 100px);
  //transition: inherit;
}

.footer {
	height: 100px;
}

footer nav {
  clear: both;
  width: 100%;
  display: block;
  text-align: center;
}

footer nav ul li {
  text-decoration: none;
  list-style-type: none;
}

footer nav ul li a {
  text-decoration: none;
}

footer nav ul li a:hover,
footer nav ul li a:active, {
  text-decoration: underline;
  background: inherit;
}

footer nav li {
  display: inline-block;
}

footer nav ul {
    bottom: 0;
    position: relative;
    margin: 0;
    padding: 5px 0 5px 0;
}

header { 
  font-family: "Megrim", Helvetica, Arial, sans-serif;
  font-size: 44px;
  text-decoration: none;
  height: 120px;
  z-index: 999;
  position: fixed;
  display: block;
  background-color: inherit;
  width: 100%;
  padding-left: 45px;
}

header a {
  text-decoration: none;
}

h1.post-title {
  font-size: 84px;
}


circle.theme-select {
  cursor: pointer;
}

@media screen and (max-width: 800px) { 
  h1 {
    font-size: 1.2em;
  }

  h1.post-title {
    font-size: 60px;
  }

}