/**
 * Overall Layout
 */
#container {
  min-height:100%;
  position:relative;
}

#footer {
  width:100%;
  height:100px;
  position:absolute;
  bottom:0;
  left:0;
}

#header {
    padding:0;
}

.page-content {
  min-height:100%;
  position:relative;
}
/**
 * Site header
 */

$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #9A9A8A;
  padding: 8em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("../images/wood.png") repeat;
  background-position: top;
  background-size: cover;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}


/**
 * Site footer
 */

.stripes
{
width: 100%;
content: '';
background: linear-gradient(to right,#075859 0,#075859 12%,#096F70 12%,#096F70 28%,#D7A487 28%,#D7A487 40%,#DA8469 40%,#DA8469 54%,#BE6A6A 54%,#BE6A6A 71%,#723147 71%,#723147 86%,#374140 86%,#374140 100%);
height: 10px;
position: absolute;
left: 0;
bottom: 0;
}

#bar
{
    background: url(http://cdn.socket.io/website/imgs/galaxy.jpg);
    height: 7px;
    background-size: cover;
    background-position: left 60%;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
}
