/**
 * Site header
 */

@import "glitch";

.site-header {
    

    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    font-family: Megrim, cursive;

    // Positioning context for the mobile navigation icon
    position: relative;
    color:#FFF;
    max-width:100%;
}

.site-title {
    @include span-columns(6);

    font-size: 26px;
    font-family: Megrim, cursive;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: #FFF;
    }
}
/*
.site-nav {
    @include span-columns(6);
    @include omega();

    float: right;
    line-height: 56px;

    .page-link, .page-link a {
        float: right;
        color: #FFF;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
        &,
        &:visited {
        color: #FFF;
    }

    }
}
*/


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-family: Megrim, cursive;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;


$gold: #FFB900;
$coral: #FC636B;
$brightCoral: #FF6D92;

  $opacity: 90%;
  align-items: center;
  background: linear-gradient(
                  to top right,
                  mix($coral, white, $opacity) 10%,
                  mix($brightCoral, white, $opacity) 65%,
                  mix($gold, white, $opacity) 125%); 
  transition: opacity 1s;

}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: black;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    color: black;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


#bar {
  background: url("/images/galaxy.jpg");
  height: 21px;
  background-size: cover;
  background-position: left 0%;
  //background-position: left 60%;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
//  z-index: 900;

//border: 0;
//  font-family: inherit;
//  font-size: 100%;
//  font-style: inherit;
//  font-weight: inherit;
//  margin: 0;
//  outline: 0;
//  padding: 0;
  vertical-align: baseline;
}

/**
 * GLITCHED TEXT
 */
