a {
  -webkit-transition: all 0.5s ease-in-out; /* Safari */
  transition: all 0.5s ease-in-out;
  background: inherit;
  color: inherit;
  text-decoration: underline;
  letter-spacing: 0.05em;
}

a:hover {
  background: $coral;
  color: white;
}