<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
<div id="container">
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
</div><!-- #container -->

  </body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script>
// $(document).ready(function() {
//   if ($("#js-parallax-window").length) {
//     parallax();
//   }
// });

// $(window).scroll(function(e) {
//   if ($("#js-parallax-window").length) {
//     parallax();
//   }
// });

// function parallax(){
//   if( $("#js-parallax-window").length > 0 ) {
//     var plxBackground = $("#js-parallax-background");
//     var plxWindow = $("#js-parallax-window");

//     var plxWindowTopToPageTop = $(plxWindow).offset().top;
//     var windowTopToPageTop = $(window).scrollTop();
//     var plxWindowTopToWindowTop = plxWindowTopToPageTop - windowTopToPageTop;

//     var plxBackgroundTopToPageTop = $(plxBackground).offset().top;
//     var windowInnerHeight = window.innerHeight;
//     var plxBackgroundTopToWindowTop = plxBackgroundTopToPageTop - windowTopToPageTop;
//     var plxBackgroundTopToWindowBottom = windowInnerHeight - plxBackgroundTopToWindowTop;
//     var plxSpeed = 0.35;

//     plxBackground.css('top', - (plxWindowTopToWindowTop * plxSpeed) + 'px');
//   }
// }
</script>

<script>
  var jsHeight = document.getElementById("container").offsetHeight;
  console.log(jsHeight);

  var jqueryHeight = $(document).outerHeight();
  console.log(jqueryHeight);

function setHeaderScroll() {
  var height = $(document).outerHeight() - $(window).outerHeight(),
    perc = ($(window).scrollTop()/height*100);
    console.log(height);
  $('#bar').css({"backgroundPosition": "left "+perc+"%"});

}

$(window).scroll(setHeaderScroll);
</script>
</html>
