<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
<style>
body {
  background: url("images/galaxy.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<body>
<!-- stuff -->
    <!-- <div class="page-content" style="margin-top:50px;"> -->
      <!-- <div class="wrapper"> -->
      <div id="landing">
        <div class="text-center">
          {{ content }}
        </div>
      </div>
      <!-- </div> -->
    <!-- </div> -->

  </body>

</html>
